js/bt.js
js/coffee.js
.idea/
*.orig
tags
shell
config-local.php
chromelogs
chromelogs/*
chromelogs/last_run.json
themes/*.zip
.DS_Store
.buildpath
.project
.settings/
themes/base-theme/m/js/mobile.js
themes/base-theme/style.css
themes/base-theme/style.css.map
themes/base-theme/css/style-[0-9].less
themes/base-theme/css/theme-[0-9].less
themes/base-theme/css/brand-[0-9].less
themes/base-theme/css/ie/ie*.css
themes/base-theme/split*.css
themes/base-theme/split-blessed1.css
themes/base-theme/css/test/test.css
**/bower_components/jquery
themes/child-theme/
.vagrant/
Flagship.phpproj
Flagship.sln
Flagship.v11.suo
node_modules/
*.swp
profiles/
profiles/*
ext-plugins/
!ext-plugins/testimonials-widget/
*.pyc